@import "../utils/variables";
@import "../utils/animations";

.loader{
    position:fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    height: 100vh;
    inset: 0;
    z-index: 1;
    opacity: 0.99;
    animation: loader 100ms 3s forwards;
    &::after{
        content:"";
        height: 100px;
        width: 100px;
        border-bottom: 5px solid $color_primary;
        border-left: 5px solid $color_secondary;
        border-right: 5px solid $color_tertiary;
        border-top: transparent;
        border-radius: 50%;
        animation : spinner 1s ease-in-out;
        animation-iteration-count: 3;
    }
}