@import "../sass/utils/mixins";
@import "../sass/utils/variables";
@import "../sass/utils/animations";

.image__menu img{
    display: block;
    width: 100%;
    max-height: 55vh;
    object-fit: cover;
    object-position: center;
}

.menu_list{
    background-color: #f3f3f3;
    & .menu_list__title{
        display: flex;
        position: relative;
        font-family: 'Shrikhand', cursive;
        border-radius: 30px 30px 0px 0px;
        background-color: #f3f3f3;
        margin-top: -30px;
        & h2{
            padding: 20px;
        }
        & i{
            position: absolute;
            top: 40px;
            right: 20px;
            font-size: 35px;
        }
        & .fas{
            color: transparent;
            @include gradient_heart;
            background-clip: text;
            -webkit-background-clip: text;
            opacity: 0;
            transition: all 400ms ease-in-out;
            &:hover{
                opacity: 1;
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
    & .menu{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 20px 50px 20px;
        @media screen and (min-width: 991px){
            flex-direction: row;
            justify-content: space-between;
        }  
        & .menu__flex {

            display: flex;
            flex-direction: column;
            flex-grow: 1;
            gap: 25px;
            @media screen and (min-width: 991px){
                width: 30%;
            }

            & h3{
                font-weight: 200;
                position: relative;
                &::after{
                    content:"";
                    background-color: $color_tertiary;
                    height: 5px;
                    width: 46px;
                    position: absolute;
                    top: 25px;
                    left: 0px;
                }
            }
            & .menu_item{
                @for $i from 1 through 5{
                    &:nth-child(#{$i}){
                        animation-delay: 200ms * $i;
                    }
                }
                display: flex;
                background-color: white;
                border-radius: 20px;
                overflow: hidden;
                @include base_shadow;
                animation: appear 1s;
                animation-fill-mode: both;
                &:hover{ 
                    cursor: pointer;
                   & .menu_item__check-box{
                   margin-right: 0px;
                   }
                   & i{
                       animation: spin 900ms;
                   }
                }
                & .menu_item__content{
                    padding:10px;
                    @include ellipsis;
                    & h4{
                        font-weight: 600;
                        padding-bottom: 7px;
                        @include ellipsis;
                    }
                    & p{
                        font-size: 12px;
                        @include ellipsis;
                    }
                }
                & .menu_item__price{
                    display: flex;
                    align-items:flex-end;
                    margin: 10px 20px 10px auto;
                    font-weight: 900;
                }
                & .menu_item__check-box{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-shrink: 0;
                    background-color: $color_tertiary;
                    margin-right: -70px;
                    width: 70px;
                    transition: margin-right 1s;
                    & .fas{
                        font-size: 27px;
                        color: white;
                    }
                }
            }
        }
    }
    
    & .order{
        text-align: center;
        padding-bottom: 90px;
        & .order__btn{
        @include button;
        }
    }
}
